<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	Identity by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
<head>
	<title>Login</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main2.css" />
	<noscript><link rel="stylesheet" href="assets/css/noscript2.css" /></noscript>
	<style>
	html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	background-image: url(images/overlay.png), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url(../../images/bg.jpg);
	}

	</style>
</head>
<body class="is-preload" style="overflow: auto">

<!-- Wrapper -->
<div id="wrapper">


	<!-- Main -->
	<section id="main" style="padding:;">

		<nav style="width: 35%; float:left;   height: 100%">&nbsp;</nav>
		<main style="width: 29%; float:left;  height: 100%; " >

			<div style=" margin-top:10%; height:70%; width:100%; background: white; text-align: center; ">
					<img src="../static/images/pic14.jpg" style="width: 100%; float: left; margin-left: -130%;"/> 아이디
				<br>
				<hr>
				<img src="../static/images/pic02.jpg" style="width:400%; margin-left: -145%;">
				<li style="list-style: none; margin-left: -350%;"><a href="#" class="fas fa-heart" id="heart" onclick="test()"><span class="label"></span></a></li>
				<hr>

				<div style="text-align: left; margin-left: -150%;"><p style="color: black; font-weight: 600; ">아이디</p>
					<p style="font-size: 15px;"> 오늘 날씨 좋네</p>
					<details>
						<summary style="font-size: 17px;">댓글 더 보기</summary>
						<p style="font-size: 15px;">아이디: good</p>
						<p style="font-size: 15px";>아이디: ㅇㅈ</p>
					</details>
				</div>

				<br>

			</div>

		</main>
		<nav style="width: 35%; float:left; height: 100%;">&nbsp;</nav>
	</section>
</div>

<!-- Scripts -->
<script>
	if ('addEventListener' in window) {
		window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
		document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
	}
</script>

</body>

</html>