<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	Identity by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<!--    <link rel="stylesheet" href="../static/assets/css/main2.css" />-->
    <link rel="stylesheet" href="assets/css/main2.css" th:href="@{assets/css/main2.css}"/>
	<style>
		input {
			text-transform: none;
		}
		.field-error {
			border-color: #dc3545;
			color: #dc3545;
		}
		.userError {
			position: relative; left: 3%; height: 14px;
		}
	</style>
</head>
<!--<script src="assets/js/ajax.js"></script>-->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<body class="is-preload">

						<!-- Wrapper -->
						<div id="wrapper">

							<!-- Main -->
							<section id="main">
								<header>
									<h1>회원가입</h1>
								</header>

								<hr />
						<form method="post" action="main.html" th:action th:object="${user}">
							<div class="fields">

								<div th:if="${#fields.hasGlobalErrors()}">
									<p class="field-error userError" th:each=" err : ${#fields.globalErrors()}" th:text="${err}" ></p>
								</div>

								<div class="field addUserInputDiv">
									<input type="text" id="userId" placeholder="ID" th:field="*{userId}">
								</div>

								<div class="field addUserInputDiv">
									<input type="text"  id="userName" placeholder="NICKNAME"  th:field="*{userName}">
								</div>

								<div class="field addUserInputDiv">
									<input type="password" id="userPassword" placeholder="PASSWORD" th:field="*{userPassword}" >
								</div>

								<div class="field addUserInputDiv" >
									<input type="password" id="userPasswordCheck" placeholder="ConfirmPW" th:field="*{userPasswordCheck}" >
								</div>

              					 <div class="field addUserInputDiv" >
                  					 <input type="email" id="userEmail" placeholder="EMAIL" th:field="*{userEmail}"
											style="display: inline-block; width: 60%; float: left;">
                   						<div style="display: inline-block; margin: 2%; font-size: 90%;"><button onclick="emailAuthorSend()" type="button">메일인증</button></div>
               					 </div>

								<div id="emailSendText" style="font-size: 14px; position: relative; left: 20px; max-height: 15px; margin-bottom: -1%">
									<p th:text="${message}"></p>
								</div>

								<div class="field addUserInputDiv">
									<input type="text" id="emailAuthor" placeholder="certification"
										   th:field="*{emailAuthor}"
										   style="display: inline-block; width: 60%; float: left;">
									<div style="display: inline-block; margin: 2%; font-size: 90%;"><button onclick="emailAuthorCheck()" type="button">인증</button></div>
								</div>

								<div id="emailCheckText" style="font-size: 14px; position: relative; left: 20px; max-height: 15px; margin-bottom: -1%">
									<p th:text="${message2}"></p>
								</div>


						</div>


						<ul class="actions special" >
							<li><input type="submit" class="button" value="회원가입" /></li>&nbsp;&nbsp;
							<li><button class="button" style="font-size: 15px;" onclick="location.href='main.html'" th:onclick="|location.href='@{/}'|" type="button">취소</button></li>
							</ul>


						</form>
					</section>

				<!-- Footer -->
					<footer id="footer">
					</footer>

			</div>

<!-- Scripts -->

<script>
    if ('addEventListener' in window) {
        window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }

	function emailAuthorCheck() {
		let emailAuthor=$("#emailAuthor").val();
		let messageDTO={
			emailAuthor:emailAuthor ,
		};
		$.ajax({
			url: "/user/emailAuthorCheck",
			data: messageDTO,
			type:"POST",
		}).success(function (message2) {
			let key = $.trim(message2.key);
			if(key == 'success') {
				$("#emailCheckText").text(message2.msg);
			}else if (key == 'fail') {
				$("#emailCheckText").text(message2.msg);
			}
			// $("#pwCheckResult").replaceWith(fragment);
		});
	}

	function emailAuthorSend() {
		let userEmail=$("#userEmail").val();
		let messageDTO={
			userEmail:userEmail ,
		};
		$.ajax({
			url: "/user/EmailAuthor",
			data: messageDTO,
			type:"GET",
		}).success(function (message) {
			const key = $.trim(message.key);
			if(key == 'succese') {
				console.log(message.msg)
				$("#emailSendText").replaceAll(message.msg);
			}
			if(key == 'emailDuplicate') {
				console.log(message.msg)
				$("#emailSendText").text(message.msg);
			}
			else {
				console.log(message.msg)
				$("#emailSendText").text(message.msg);
			}

		});
	}

</script>

</body>
</html>