<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/css/main2.css" />
    <script src="assets/js/dm.js"></script>
    <noscript><link rel="stylesheet" href="assets/css/noscript2.css" /></noscript>

    <style>
        input[type="text"]{
            width: 100%; height: 50px;
            padding-left: 5px; position: absolute; bottom: 0; left: 0;
            border-top: 1px solid #333333; border-radius: 0px;
        }
    </style>
</head>

<body class="is-preload">
<div th:replace="/header.html"></div>

<div id="wrapper">

    <section id="main">
        <!--        <form method="post" action="#" style="position: relative; left: -15%; overflow: auto; height: 200px; width: 500px;" >-->

        <div style="position: relative; left: -22%; bottom: 50px; overflow: auto; max-height: 200px; width: 130%; margin-bottom: -8%" >
            <div class="fields" style="position: relative; left: -7%">
                <div class="field">
                    <a href="follower.html">
                        <img src="images/logo.svg" width="50px"></img>&nbsp;
                        <span style="position: relative; bottom: 18px">follower:500</span></a>&nbsp;
                </div>
            </div>
            <div class="fields" style="position: relative; left: -7%">
                <div class="field">
                    <a href="follower.html">
                        <img src="images/logo.svg" width="50px"></img>&nbsp;
                        <span style="position: relative; bottom: 18px">follower:500</span></a>&nbsp;
                </div>
            </div>

            <div class="fields" style="position: relative; left: -7%">
                <div class="field">
                    <a href="follower.html">
                        <img src="images/logo.svg" width="50px%"></img>&nbsp;
                        <span style="position: relative; bottom: 18px">follower:500</span></a>&nbsp;
                </div>
            </div>


        </div>

        <!--        </form>-->
        <span class="avatar"></span><br>
        <div class="field" style="position: relative; bottom: 40px;  height: 50px; margin-left: -20%" >
            <a href="follower.html">
                <img src="images/logo.svg" width="50px"></img>
                <span style="position: relative; bottom: 20px; left: 15px; font-size: 18px">follower:500</span></a>&nbsp;
        </div>
        <span class="avatar" style="margin-top: -20px"></span><br>
        <footer style="margin-top: -10%; width: 390px; margin-left: -10%; max-height: 350px">
            <div class="char_wrap">
                <div class="inner">

                    <div class="item yourmsg on">
                        <div class="box on">
                            <p class="msg">안녕하세요</p>
                            <span class="time">오전 10:05 </span>
                        </div>
                    </div>

                    <div class="item mymsg on">
                        <div class="box">
                            <p class="msg">안녕하세요</p>
                            <span class="time">오전 10:05 </span>
                        </div>
                    </div>


                </div>

                <input type="text" class="mymsg" placeholder="내가보내는 메시지">
                <!--                <input type="text" class="yourmsg" placeholder="상대방이 모내는 메시지">-->
            </div>
        </footer>
    </section>

    <!-- Footer -->
    <footer id="footer">
    </footer>

</div>

<!-- Scripts -->
<script>
    if ('addEventListener' in window) {
        window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
</script>

</body>
</html>