<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	Identity by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<!--    <link rel="stylesheet" href="../static/assets/css/main2.css" />-->
    <link rel="stylesheet" href="assets/css/main2.css" th:href="@{assets/css/main2.css}"/>
	<style>
		input {
			text-transform: none;
		}
		.field-error {
			border-color: #dc3545;
			color: #dc3545;
		}
		.userError {
			position: relative; left: 3%; height: 14px;
		}
	</style>
</head>
<!--<script src="assets/js/ajax.js"></script>-->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<body class="is-preload">

						<!-- Wrapper -->
						<div id="wrapper">

							<!-- Main -->
							<section id="main">
								<header>
									<h1>회원가입</h1>
								</header>

								<hr />
						<form method="post" action="main.html" th:action th:object="${user}">
							<div class="fields">

								<div class="field addUserInputDiv">  <!--아이디-->
									<input type="text" id="userId" placeholder="ID" th:field="*{userId}" >
									<p id="Check_Id" style="height: 1px; display: none;"></p>
								</div>

								<div class="field addUserInputDiv"> <!--닉네임-->
									<input type="text"  id="userNickName" placeholder="NICKNAME"  th:field="*{userNickName}" disabled>
									<p id="Check_NickName" style="height: 1px; display: none;"></p>
								</div>

								<div class="field addUserInputDiv"> <!--비밀번호-->
									<input type="password" id="userPassword" placeholder="PASSWORD" th:field="*{userPassword}" disabled >
									<p id="pw" style="height: 1px; font-size:1%; display: none;"></p>
								</div>

								<div class="field addUserInputDiv" > <!--비밀번호 확인-->
									<input type="password" id="userPasswordCheck" placeholder="ConfirmPW" disabled >
									<p id="Check_Pw" style="height: 1px; font-size:1%; display: none;"></p>
								</div>

              					 <div class="field addUserInputDiv" >
                  					 <input type="email" id="userEmail" placeholder="EMAIL" th:field="*{userEmail}"
											style="display: inline-block; width: 60%; float: left;" disabled>
                   						<div style="display: inline-block; margin: 2%; font-size: 90%;"><button id="emailButton" onclick="emailAuthorSend()" type="button" disabled>메일인증</button></div>
               					 </div>
								<p id="Check_Email" style="height: 1px; font-size:1%; display: none;"></p>

								<div id="emailSendText" style="font-size: 14px; position: relative; left: 20px; max-height: 15px; margin-bottom: -1%">
									<p th:text="${message}"></p>
								</div>

								<div class="field addUserInputDiv">
									<input type="text" id="emailAuthor" placeholder="certification"
										   th:field="*{emailAuthor}" disabled
										   style="display: inline-block; width: 60%; float: left;">
									<div style="display: inline-block; margin: 2%; font-size: 90%;"><button id="authorButton" onclick="emailAuthorCheck()" type="button" disabled >인증</button></div>
								</div>

								<div id="emailCheckText" style="font-size: 14px; position: relative; left: 20px; max-height: 15px; margin-bottom: -1%">
									<p th:text="${message2}"></p>
								</div>


						</div>


						<ul class="actions special" >
							<li><input type="submit" class="button" value="회원가입" id="join" disabled /></li>&nbsp;&nbsp;
							<li><button class="button" style="font-size: 15px;" onclick="location.href='main.html'" th:onclick="|location.href='@{/}'|" type="button">취소</button></li>
							</ul>


						</form>
					</section>

				<!-- Footer -->
					<footer id="footer">
					</footer>

			</div>

<!-- Scripts -->
						<script type="text/javascript" src="/assets/js/join.js"></script>
<script>


    if ('addEventListener' in window) {
        window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }


</script>

</body>
</html>