<!DOCTYPE HTML>
<!--
	Identity by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>follower</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main2.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript2.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">


						<form method="post" action="#">
							<div class="fields">
								<div class="field">
									<h1>Follower</h1>
									<hr>
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 45%">
									<p style="float: left">NAME</p>
								</div>
								<div style="float: left; width: 35%">
									<input type="button" class="small" value="f">
									<input type="button" class="small" value="unf">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 45%">
									<p style="float: left">NAME</p>
								</div>
								<div style="float: left; width: 35%">

									<input type="button" class="small" value="unf">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 45%">
									<p style="float: left">NAME</p>
								</div>
								<div style="float: left; width: 35%">
									<input type="button" class="small" value="f">
									<input type="button" class="small" value="unf">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 45%">
									<p style="float: left">NAME</p>
								</div>
								<div style="float: left; width: 35%">
									<input type="button" class="small" value="f">
									<input type="button" class="small" value="unf">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 45%">
									<p style="float: left">NAME</p>
								</div>
								<div style="float: left; width: 35%">

									<input type="button" class="small" value="unf">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 45%">
									<p style="float: left">NAME</p>
								</div>
								<div style="float: left; width: 35%">
									<input type="button" class="small" value="f">
									<input type="button" class="small" value="unf">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 45%">
									<p style="float: left">NAME</p>
								</div>
								<div style="float: left; width: 35%">

									<input type="button" class="small" value="unf">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 45%">
									<p style="float: left">NAME</p>
								</div>
								<div style="float: left; width: 35%">

									<input type="button" class="small" value="unf">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 10%">
								</div>
								<div style="float: left; width: 45%">
									<p style="float: left">NAME</p>
								</div>
								<div style="float: left; width: 35%">
									<input type="button" class="small" value="f">
									<input type="button" class="small" value="unf">
								</div>
								<div style="float: left; width: 10%">
								</div>
							</div>
							<br>

						</form>

						<footer>


						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
					</footer>

			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>