<!DOCTYPE HTML>
<!--
   Identity by Pixelarity
   pixelarity.com | hello@pixelarity.com
   License: pixelarity.com/license
-->
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <noscript><link rel="stylesheet" href="assets/css/noscript2.css" /></noscript>
</head>
<style>

</style>
<body>


<!-- Wrapper -->



<header id="header">
    <div style="text-align: center" >
        <nav>
            <ul class="logo">
                <li><a th:href="@{/index}" class="fas fa-gem"><span class="label"></span></a></li>&nbsp;&nbsp;&nbsp;
                <!--<li><a th:href="@{/index}" style="text-decoration-line: none">
                <img src="images/logo.svg" style="width:60px; height:43px;"/>
                </a></li>&nbsp;&nbsp;-->
                <li><input type="search">&nbsp;&nbsp;&nbsp;</li>
                <li><a th:href="@{/user/userInfo}" class="fas fa-user"><span class="label"></span></a></li>
                <li><a href="#" class="fas fa-heart" id="heart" onclick="test()"><span class="label"></span></a></li>
                <li><a th:href="@{/user/directMessage}" class="fab fa-pushed "><span class="label"></span></a></li>
                <li><a href="Write.html" class="fas fa-plus "><span class="label"></span></a></li>
            </ul>
        </nav>
    </div>
</header>


</body>

</html>