<!DOCTYPE HTML>
<!--
   Identity by Pixelarity
   pixelarity.com | hello@pixelarity.com
   License: pixelarity.com/license
-->
<html>
<head>
	<title>UserInfo</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main2.css" />


	<noscript><link rel="stylesheet" href="assets/css/noscript2.css" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<div th:replace="/header.html"></div>
	<!--<header id="header" >

       <div class="inner" >

          <div class="align-center" >
             <nav>
                <ul class="logo">
                   <strong>NAME&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                   <input type="search">&nbsp;&nbsp;&nbsp;
                   <li><a href="UserInfo.html" class="fas fa-user"><span class="label"></span></a></li>
                   <li><a href="#" class="fas fa-heart" id="heart" onclick="test()"><span class="label"></span></a></li>
                   <li><a href="#" class="fab fa-pushed "><span class="label"></span></a></li>
                   <li><a href="Write.html" class="fas fa-plus "><span class="label"></span></a></li>
                </ul>
             </nav>
          </div>

       </div>
    </header>-->
	<!-- Main -->
	<section id="main">
		<header><a href="profile.html"> ⚙ profile </a><br><br>
			<span class="avatar"><img src="images/pic14.jpg" alt="" /></span>

		</header>
		<form method="post" action="#">
			<div class="fields">
				<div class="field">
					<span>post:4</span>&nbsp;<br>
					<a href="follower.html"><span>follower:500</span></a>&nbsp;
					<a href="following.html"><span>following:450</span></a>
				</div>


			</div>


		</form>
		<span class="avatar"></span><br>
		<footer>
			<section class="tiles2">
				<article class="style1">
                           <span class="image" style="width: 6.3em" >
                              <img src="images/pic01.jpg" alt="" />
                           </span>
					<a href="getWrite.html">

						<div class="content">
							<p>❤ 56</p>

						</div>
					</a>

				</article>

				<article class="style1">
                           <span class="image" style="width: 6.3em" >
                              <img src="images/pic01.jpg" alt="" />
                           </span>
					<a href="getWrite.html">

						<div class="content">
							<p>❤ 56</p>

						</div>
					</a>

				</article>
				<article class="style1">
                           <span class="image" style="width: 6.3em" >
                              <img src="images/pic01.jpg" alt="" />
                           </span>
					<a href="getWrite.html">

						<div class="content">
							<p>❤ 56</p>

						</div>
					</a>

				</article>
				<br><br><br><br>

				<article class="style1">
                           <span class="image" style="width: 6.3em" >
                              <img src="images/pic01.jpg" alt="" />
                           </span>
					<a href="getWrite.html">

						<div class="content">
							<p>❤ 56</p>

						</div>
					</a>

				</article>

				<article class="style1">
                           <span class="image" style="width: 6.3em" >
                              <img src="images/pic01.jpg" alt="" />
                           </span>
					<a href="getWrite.html">

						<div class="content">
							<p>❤ 56</p>

						</div>
					</a>

				</article>
				<article class="style1">
                           <span class="image" style="width: 6.3em" >
                              <img src="images/pic01.jpg" alt="" />
                           </span>
					<a href="getWrite.html">

						<div class="content">
							<p>❤ 56</p>

						</div>
					</a>

				</article>
				<br><br><br><br>

				<article class="style1">
                           <span class="image" style="width: 6.3em" >
                              <img src="images/pic01.jpg" alt="" />
                           </span>
					<a href="getWrite.html">

						<div class="content">
							<br>
							<p>❤ 56</p>

						</div>
					</a>

				</article>

				<article class="style1">
                           <span class="image" style="width: 6.3em" >
                              <img src="images/pic01.jpg" alt="" />
                           </span>
					<a href="getWrite.html">

						<div class="content">
							<br>
							<p>❤ 56</p>

						</div>
					</a>

				</article>
				<article class="style1">
                           <span class="image" style="width: 6.3em" >
                              <img src="images/pic01.jpg" alt="" />
                           </span>
					<a href="getWrite.html">

						<div class="content">
							<br>
							<p>❤ 56</p>

						</div>
					</a>

				</article>


			</section>
		</footer>
	</section>

	<!-- Footer -->
	<footer id="footer">
	</footer>

</div>

<!-- Scripts -->
<script>
	if ('addEventListener' in window) {
		window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
		document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
	}
</script>

</body>
</html>