<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DailyLife.mapper.BoardMapper">


    <insert id="addBoard" useGeneratedKeys="true" keyProperty="bno">
        insert INTO tbl_board(uno,content) values ( #{uno} ,#{content})
    </insert>

    <insert id="addPhoto" useGeneratedKeys="true" keyProperty="pno">
        insert INTO tbl_boardPhoto(bno,photoRandomName) values ( #{bno}, #{photoRandomName})
    </insert>




</mapper>