<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DailyLife.mapper.BoardMapper">

    <insert id="addBoard" useGeneratedKeys="true" keyProperty="bno">
        insert INTO tbl_board(uno,content,thumbnail) values ( #{uno} ,#{content} , #{thumbnail})
    </insert>

    <insert id="addPhoto" useGeneratedKeys="true" keyProperty="pno">
        <selectKey resultType="long" order="BEFORE" keyProperty="bno">select Max(bno) from tbl_board</selectKey>
        insert INTO tbl_boardPhoto(bno,photoRandomName) values ( #{bno} , #{photoRandomName})
    </insert>

    <select id="findAllPhoto" resultType="com.DailyLife.dto.BoardPhoto">
        select * from tbl_boardPhoto;
    </select>

    <insert id="addComent" useGeneratedKeys="true" keyProperty="rno">
        insert INTO tbl_reply(bno, reply, userId) values (#{bno}, #{reply}, #{userId})
    </insert>

    <delete id="removeReply">
        delete FROM tbl_reply WHERE RNO = #{RNO}
    </delete>


    <select id="findByUno" resultType="com.DailyLife.dto.BoardInfos">
        select * from tbl_board inner join
                      tbl_boardPhoto on TBL_BOARD.bno = tbl_boardPhoto.bno where uno = #{uno}
    </select>

    <select id="findAllBoardByUno" resultType="com.DailyLife.dto.Board">
        select *from tbl_board where uno = #{uno};
    </select>

    <select id="findAllBoardPhotoByBno" resultType="com.DailyLife.dto.BoardPhoto">
        select * from tbl_board where bno = ${bno};
    </select>

    <select id="findAllBoard" resultType="com.DailyLife.dto.Board">
        select * from tbl_board;
    </select>

</mapper>